h1 {
    color: black;
}

body {
    max-width: max-content;
    margin: auto;
    margin-top: 150px;
    border-style: solid;
    border-color: #106a5e;
    padding: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: #90f3e6;
}

 input[type = button] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bold;
    background-color: coral;
   
  }

